################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
